# Ambiente Virtual
.venv/
venv/

# Arquivo de segredos
.env

# Arquivos de cache do Python
__pycache__/
*.pyc

# Arquivos gerados pela LIA
fala_*.mp3
lia_logs.txt
codigo_gerado.py

# Arquivos do PyCharm
.idea/

# Arquivos executáveis grandes
*.exe