# --- Reconhecimento e Síntese de Voz ---
speechrecognition
pyaudio
edge-tts
openai-whisper

# --- Inteligência Artificial e APIs ---
google-generativeai==0.5.4  # <-- VERSÃO ESPECIFICADA AQUI
python-dotenv
requests
yfinance
feedparser

# --- Automação e Controle de Interface ---
pyautogui
pywinauto
pyperclip
pywin32

# --- Processamento de Imagem e Visão ---
Pillow
pytesseract
opencv-python

# --- Interface Gráfica e Mídia ---
customtkinter
pygame

# --- Manipulação de Arquivos e Mídia ---
moviepy
yt-dlp

# --- Controle de Dispositivos Inteligentes ---
tinytuya